---
layout: none
title: DIY synths database
---

{% include header.html %}

<body>

    <div class="jlist-header-img" style="background-image: url({{ site.header_pic }});">
        <div class="jlist-header-img-inner">
            <h2 class="title"></h2>
            <p> Curated collection of {{ site.posts | size }} DIY-friendly hardware synthesizers and related musical equipment you can build on your own. All open source.</p>
        </div>
    </div>

    <div class="wrap"></div>

</body>

{% include footer.html %}