{% if site.giscus == true %}
<p>
    <script src="https://giscus.app/client.js"
            data-repo="Atarity/diy-synths"
            data-repo-id="R_kgDOGJF-RA"
            data-category="General"
            data-category-id="DIC_kwDOGJF-RM4B_R7B"
            data-mapping="og:title"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</p>
{% endif %}