---
layout: none
---

{% include header.html %}

<body id="post">
    <div class="jlist-wrap single-page">
        <div class="item-wrap" style="display: flex;">
            <span><a href="{{ site.baseurl }}/">← back</a></span>
            <div class="item-inner">
                <div class="item-name">{{ page.title }}</div>
                <div class="item-field item-description">{{ page.description }}</div>
                <div class="item-field item-content">{{ content }}</div>
            </div>
        </div>
    </div>
</body>

{% include footer.html %}